#portfolio-page {
    background-image: linear-gradient(black, rgb(24, 23, 24));
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 92vh;
    overflow: hidden;
}

#portfolio-top {
    background-image: url("../../assets/background.jpg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 30px;
    border-bottom: solid 2px hotpink;
}

#port-main-photo {
    margin: 0;
    margin-top: 20px;
    width: 12%;
    border: solid 2px hotpink;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

#portfolio-name {
    margin: auto 20px;
}

h1 {
    margin-bottom: 2px;
}

h3 {
    margin-top: 2px;
}

#portfolio-body {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.portfolio-piece {
    padding: 10px;
    margin: 10px;
    position: relative;
}

.portfolio-piece:hover {
    background-image: linear-gradient(hotpink, fuchsia);
}

.portfolio-link {
    width: 204px;
    background-color: hotpink;
    background-image: linear-gradient(hotpink, fuchsia);
    color: rgb(192, 192, 192);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: 115px;
    left: -2px;
    border: solid 1px gray;
    overflow: auto;
}

a:link, a:visited {
    color: rgb(192, 192, 192);
    text-decoration: none;
}

a:hover {
    color: rgb(61, 58, 61);
}

@media only screen and (max-width: 830px) {
    #port-main-photo {
        display: none;
    }
}